[submodule "ytfzf"]
	path = ytfzf
	url = https://github.com/pystardust/ytfzf
[submodule "fzf-menu"]
	path = fzf-menu
	url = https://github.com/spikegrobstein/fzf-menu
[submodule "fzf-tab-completion"]
	path = fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion
[submodule "fzf-ueberzogen"]
	path = fzf-ueberzogen
	url = https://github.com/seebye/fzf-ueberzogen
